<%=form_tag reply_messages_path do%>
  <%= hidden_field_tag :message_id, @messages.last.id %>
  <div class="row custom-row">
    <div class="form-group col-md-10">
      <label class="form-label"></label>
      <span class="help"></span>
      <div class="controls">
	<div class="input-with-icon  right">
	  <i class=""></i>
	  <%= text_area_tag "body", '', :class => "form-control", :placeholder => "Enter Message here" %>
	</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <button class="btn btn-primary btn-cons pull-right" type="submit">Reply</button>
    </div>
  </div>
<%end%>
<%unless @messages.blank?%>
  <%@messages.each do |message|%>
    <div style="width: 100%;padding: 17px;height: 100px;background: #eee;border-radius: 10px;color: black; margin-bottom: 5px;">
      <%sender = sender(message)%>
      <b><%= link_to sender.name, user_path(sender) %></b> <br/>
      <b><%= message.topic %>:</b>&nbsp;<%= message.body %>
    </div>
  <%end%>
<%else%>
  You have no messages
<%end%>
