<h3>New Message to <b><%= @user.name %></b></h3>
<%=form_tag send_message_messages_path do%>
  <%= hidden_field_tag :user_id, @user.id %>
  <div class="row custom-row">
    <div class="form-group col-md-10">
      <label class="form-label"></label>
      <span class="help"></span>
      <div class="controls">
	<div class="input-with-icon  right">
	  <i class=""></i>
	  <%= text_field_tag "subject", '', :class => "form-control", :placeholder => "Subject" %>
	</div>
      </div>
    </div>
  </div>
  <div class="row custom-row" >
    <div class="form-group col-md-10">
      <label class="form-label"></label>
      <span class="help"></span>
      <div class="controls">
	<div class="input-with-icon  right">
	  <i class=""></i>
	  <%= text_area_tag "body", '', :class => "form-control", :placeholder => "Enter Message here" %>
	</div>
      </div>
    </div>
  </div>
  <div class="row custom-row">
    <div class="col-md-10">
      <button class="btn btn-primary btn-cons pull-right" type="submit">Send</button>
    </div>
  </div>
<%end%>