<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :languages_spoken, 'Languages You can Speak', :class => 'control-label'  %>
    <div class="controls">
      <%= f.select(:languages_spoken, languages_list, {:selected => @user.languages_spoken.split(',')}, {multiple: true}) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :languages_learn, 'Languages You want to learn', :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:languages_learn,languages_list,{:selected => @user.languages_learn.split(',')}, {multiple: true}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      root_path, :class => 'btn' %>
  </div>
<% end %>
